@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* The Meyer Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My Code */

* {
	box-sizing: border-box;
	user-select: none;
}

body {
	background-color: rgb(218, 220, 215);
    overflow: hidden;
	font-family: Oswald, Arial, sans-serif;
	font-weight: 800;
}

/* Grid 5x5 */

.container_5x5 {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container_5x5 > div:hover {
    cursor: pointer;
}

.div {
    width: 75px;
    height: 75px;
    border: 4.5px solid rgb(0, 0, 0);
    border-radius: 15px;
    background-color: rgb(200, 200, 195);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Color Palette */

.colorPalette {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.colorBtns {
    width: 75px;
    height: 75px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 1rem;
    font-weight: 700;
    
    border: 4.5px solid black;
    border-radius: 15px;
    transition: font-size 0.3s ease;
}

.colorBtns:hover {
    font-size: 1.3rem;
    cursor: pointer;
}
